#box1{
background-image:url(https://img.freepik.com/free-photo/delicious-chocolate-flat-lay_23-2148349213.jpg?t=st=1717526854~exp=1717530454~hmac=a8b6f4eaeeab9e98b5bbbd18f0d4a14b8141f79c406042234cdea907a17d45bf&w=1060);
background-size: cover;
background-position: center center;
background-attachment: fixed;
background-repeat: no-repeat;
position: relative;
width: 100vw;
height: 100vh;
}
h1{
    margin-left: 45%;
    font-size: 40px;
}
#box2{
    font-size: 40px;
    font-style: italic;
    margin-left: 40%;
}
#img1{
    margin-left: 45%;
    margin-top: 10%;
    height: 300px;
    width: none;
}